@import '../../styles/mixins.scss';

.features {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  section.sec1 {

    h1 {
      color: #0FC320;
      font-weight: 400;
      text-align: center;
      padding: 1em;
      margin-top: 2em;
      text-shadow: 2px 2px 2px rgb(59, 58, 58);
      border-radius: 0.3em;
      background-image: linear-gradient(to left top, #3e3f40, #323233, #262627, #1a1a1b, #0d0d0e);
      box-shadow: -3px -3px 5px 0px #4e4f50, 3px 3px 5px 0px #0d0d0e;
    }

    h2 {
      font-weight: 400;
      margin-top: 2em;
      padding: 0.6em 0;
      color: #0FC320;
    }

    ul {
      border-radius: 0.5em;
      padding: 1em 0;
      background-image: linear-gradient(to left top, #3e3f40, #323233, #262627, #1a1a1b, #0d0d0e);
      box-shadow: -3px -3px 5px 0px #3e3f40, 3px 3px 5px 0px #0d0d0e;
      
      li {
        list-style: decimal;
        color: var(--color-primery);
      }
    }
  }

  section.sec2 {
    box-sizing: border-box;
    flex-basis: 60%;
    border-radius: 4px;
    margin-top: 2em;
    border-radius: 0.5em;
    
    .features-donut {
      border-radius: 0.2em;
      box-shadow: -4px -4px 4px 4px rgba(224, 223, 236, 0.068), 4px 4px 6px 4px rgba(12, 12, 12, 0.75);
    }

  }

  ul.add-exp-in li {
    position: relative;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0 1.5em 1.5em;
    // background-color: var(--color-darker);
    background-image: linear-gradient(to left top, #3e3f40, #323233, #262627, #1a1a1b, #0d0d0e);

  }

  section.footer {
    list-style: none;
    display: block;
    margin-top: 2.5em;
    border: #0FC320 2px solid;
    text-align: center;
    border-radius: 0.5em;
    background-image: linear-gradient(to left top, #3e3f40, #323233, #262627, #1a1a1b, #0d0d0e);
    box-shadow: -5px -5px 10px 0px #4e4f50, 3px 3px 8px 0px #030303;
    color: var(--color-primery);

  }

  @include layout(laptop) {
    section.sec1 {
      flex-basis: 80%;
      // margin: 0 auto;
      padding: 0 2.5em;
      color: var(--color-darker);

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.7em;
      }

      ul {
        padding-left: 5em;

        li {
          line-height: 34px;
        }
      }
    }

    section.sec2 {
      .features-donut {
        font-size: 1.25em;
        height: 20em;
        padding-top: 1.5em;
        background: url('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge/public/field/image/2018/10/microsoft-garage-spend-app.jpg');
        background-size: cover;
      }
    }

    section.footer {
      flex-basis: 50%;
      padding: 2em;
    }
  }

  @include layout(mobile) {
    section.sec1 {
      padding: 0 1.5em;

      h1 {
        font-size: 1.7em;
      }

      h2 {
        font-size: 1.5em;
      }
    }

    section.sec2 {
      .features-donut {
        font-size: 1.25em;
        width: 28em;
        height: 16em;
        padding-top: 1.5em;
        background: url('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge/public/field/image/2018/10/microsoft-garage-spend-app.jpg');
        background-size: cover;
      }
    }

    section.footer {
      padding: 1em;
      margin-top: 2.5em;
    }

    ul.add-exp-in {
      flex-basis: 70%;
    }
  }

  @include layout(phone) {
    section.sec2 {
      .features-donut {
        width: 20em;
        height: 10em;
        padding-top: 1.5em;
      }
    }
  }
}

ul.add-exp-in li:nth-child(1):hover {
  box-shadow: 0px 0px 8px 2px red;
}

ul.add-exp-in li:nth-child(2):hover {
  box-shadow: 0px 0px 8px 2px green;
}

ul.add-exp-in li span {
  position: absolute;
  top: 1em;
  left: 5em;
  width: 6em;
  color: var(--color-hover);
}

ul.add-exp-in .red {
  border: 2px solid red;
}

ul.add-exp-in .green {
  border: 2px solid greenyellow;
}

.red, .green {
  box-shadow: -3px -3px 3px 2px rgba(115, 117, 117, 0.75), 3px 3px 3px 2px rgba(67, 68, 68, 0.75);
}

.addExpense {
  color: red;
  text-decoration: none;
  font-size: 2em;
}

.addIncome {
  color: greenyellow;
  text-decoration: none;
  font-size: 2em;
}

.addExpense,
.addIncome {
  width: 100%;
  text-align: center;  
}

section.sec1 p {
  font-size: 1.3em;
  margin: 0px;
}

section.sec2 h3 {
  font-weight: 400;
  margin-top: 2.5em;
}

section.footer h3 {
  font-size: 1.4em;
  font-weight: 400;
}

section.footer .link {
  color: rgb(23, 140, 235);
  text-shadow: 1px 1px 1px rgb(29, 28, 28);
  text-decoration: none;
  padding: 1em;
}