@import '../../styles/mixins.scss';

.expense-page {
  max-width: 100%;
  margin: 3.5em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2em 4em;

  @include layout(laptop) {
    .mobile-container {
      flex-basis: 35%;
    }
  }

  @include layout(mobile) {
    .mobile-container {
      flex-basis: 80%;
    }
  }

  @include layout(phone) {
    .mobile-container {
      flex-basis: 100%;
    }
  }

  .mobile-container {
    height: 567px;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    box-shadow: 0px 10px 13px 2px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    .header {
      width: 100%;
      height: 50px;
      background: var(--color-darker);
      border-bottom: 4px solid #b7b767;
      text-align: center;
      padding: 1em 1.5em;

      .title {
        font-weight: bold;
        color: white;
        font-size: 24px;
        text-shadow: 0px 0px 20px rgb(34, 197, 12);
      }
    }

    .jumbo-tron {
      width: 100%;
      position: relative;
      height: 250px;
      overflow: hidden;
      background: radial-gradient(center, #734b6d, #42275a);

    }

    .right {
      float: right;
      background: rgb(199, 6, 6);
    }
  }

  .edit {
    @include layout(laptop) {
      flex-basis: 30%;
    }

    @include layout(mobile) {
      flex-basis: 80%;
    }

    @include layout(phone) {
      flex-basis: 100%;
    }
  }
}



.mobile-container .jumbo-tron .image-close-up {
  width: 600px;
  height: 600px;
  display: block;
  opacity: 0.1;
  -webkit-transform: rotate(30deg) translateX(-118px);
          transform: rotate(30deg) translateX(-118px);
}
.mobile-container .jumbo-tron img {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-details-wrapper {
  overflow: hidden;
  width: 100%;
  height: 207px;
  position: relative;
  margin: 0px auto;
}
.product-details-wrapper .product-details {
  background: #dcdcdc;
  color: black;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
}
.product-details-wrapper .product-details::-webkit-scrollbar {
  width: 10px;
}

.product-details-wrapper .product-details .product-description-section {
  background: white;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 2px 20px -16px black;
}
.product-details-wrapper .product-details .product-description-section .pricing {
  margin-bottom: 5px;
  color: rgb(34, 197, 12);
 
  font-size: 20px;
}
.product-details-wrapper .product-details .product-description-section ul li {
  margin-left: 30px;
}
.product-details-wrapper .product-details .product-description-section-title {
  padding-bottom: 10px;
}

.expenseForm-footer {
  background: var(--color-darker);
  width: 100%;
  height: 60px;
  display: block;
  opacity: 0.8;
}
.expenseForm-footer .save {
  cursor: pointer;
  background: rgb(34, 197, 12);
}
.expenseForm-footer button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: var(--color-primery);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 4px 6px 2px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.expenseForm-footer button:focus {
  outline-width: 0;
}
.expenseForm-footer button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.drop-to-cart {
  -webkit-animation: image-drop-to-cart 2s forwards;
          animation: image-drop-to-cart 2s forwards;
}
.pen-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #fff;
}
.pen-footer a {
  text-decoration: none;
  color: #431d65;
  font-weight: bold;
  background: #dede7c;
  padding: 5px;
  margin-left: 10px;
}
