@import '../../styles/mixins.scss';

nav.site-nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5em ;
  top: 0px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    text-decoration: none;
    box-shadow: -4px -4px 4px 0px #4e4f50, 3px 3px 5px 0px #0d0d0e;

    // box-shadow: -1px -1px 1px 1px rgba(165, 162, 162, 0.9), 1px 1px 1px 1px rgba(8, 8, 8, 0.9);
    margin-right: 0.6em;
    border-radius: 0.3em;
  }

  li {
    list-style: none;
    display: block;
    padding: 0 1em;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    color: white;
    transition: all 0.3s ease;
    border-radius: 0.3em;

    &:hover {
      // background: var(--color-hover);
      background-image: linear-gradient(to right bottom, #000000, #0fc320);
    }
  }

  @include layout(mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;

    ul {
      display: flex;
      flex-basis: 60%;
      justify-content: center;
      flex-wrap: wrap;
      animation: slide 0.15s ease-in;

      .link {
        flex-basis: 50%;
        text-align: center;
      }
    }
  }

  @include layout(laptop) {
    height: 50px;
    position: fixed;

    ul {
      display: flex;
      margin: 0;
      padding: 0 30px;
    }
  }
}

.toggle-nav-btn {
  display: none;

  .fa-times {
    display: none;
  }

  @include layout(mobile) {
    .fas {
      position: absolute;
      z-index: 1000;
      top: 1em;
      left: 1.5em;
      font-size: 2.5em;
      color: var(--color-hover);
    }
  }

  @include layout(phone) {
    .fas {
      z-index: 1000;
      top: 0.6em;
      left: 0.6em;
      font-size: 2.2em;
    }
  }
}

.toggle-nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;

  @include layout(mobile) {

    &+.site-header {
      .toggle-nav-btn {
        display: block;
      }

      .site-nav {
        display: none;
      }
    }

    &:checked+.site-header {

      .site-nav {
        display: block;
      }

      .toggle-nav-btn {
        display: block;

        .fa-bars {
          display: none;
        }

        .fa-times {
          display: block;
        }
      }
    }
  }
}

@keyframes slide {
  from {
      opacity: 0;
      transform: translate(-50%, 0);
  }
  to {
      opacity: 1;
      transform: translate(0);
  }
}