@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.chart{
    font-family: 'Roboto' sans-serif;  
}

.chart .metric {
    background-color: lightblue;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* Standard syntax */
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 10px 5px;
    text-align: left;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .175);  
}
p{
    display: flex;
    line-height: 20px;
    align-items: center;
}
.category{
    border-bottom: 1px solid #0fb8ad;
    font-weight: 400;
    min-width: 150px;
}

.chart-horizontal {
    width: 100%;
}

.metric {
    margin-bottom: 3px;
    min-width: 10px;
    padding: 6px 15px;
}

.metric-value {
    float: right;
    font-weight: bold;
}